*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbit';
    color: #EEE;
}
:root{
    --col-dark:#111;
    --col-light: #eee;
}

/*                       */
/* CLASSES REUTILIZÁVEIS */
/*                       */

.framed{
    border-style: solid;
    border-color: var(--col-light);
    border-width: 4px;
}

.right-shadow{
    box-shadow: 8px 8px 0px var(--col-light);
    /* TODO: Tirar o fill dessa sombra */
}

.left-shadow{
    box-shadow: -8px 8px 0px var(--col-light);
    /* TODO: Tirar o fill dessa sombra */
}
.left-fill{
    box-shadow: -8px 8px 0px var(--col-light);
}

.cast-left{
    /* TODO: Tirar o fill dessa projeção */
    box-shadow: -8px -8px 0px var(--col-light);}

.underlined{
    /* Placeholder */
    text-decoration: underline;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

/* Para imagens */
.contained{
    width: 100%;
    max-height: 100%;
}

/*                       */
/* FORMATAÇÃO EM NÍVEIS  */
/*                       */



body{
    background-color: var(--col-dark);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* HEADER */

header{
    padding: 32px;
    
}

h1{ 
    font-size: 20px;
    font-weight: bold;
}

h2{
    font-size: 20px;
}

.header-description{
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.profile-frame{
    width: 116px;
    object-fit: cover;
}


/* MAIN */
main{
    display: flex;
    flex-direction: column;
    gap: 48px;
    
    padding: 32px;
}

/* TEXTOS DESCRITIVOS */

.welcome{
    gap:26px;
    position: relative
}

.sprite{
    position: absolute;
    bottom: 100%;
    left: 10%;
}

.greeting{
    padding: 16px;
}

/* HABILIDADES */

.habilidades{
    display: flex;
    flex-direction: column;
    gap:16px;
}

.skill-set{
    display: flex;
    flex-direction: column;
    gap: 16px
}

.skill-list{
    display: flex;
    list-style:none;
    gap: 20px;
    flex-wrap: wrap;
}

.skill{
    background-color: var(--col-light);
    
    font-size: 16px;
    padding: 9px;
}

.skill span{
    font-weight: bold;
    color: var(--col-dark);
}

/* PROJETOS */

.projetos{
    gap: 32px;
}

.project-frame{
    min-height: 210px;
    object-fit: cover;
}

.projeto{
    gap: 12px;
}

/* FORMAÇÃO ACADEMICA */

.formacao{
    display: flex;
    gap: 10px;
}

.formacao .icon{
    flex-grow: 1;
    display: flex;
    align-items: center;
    place-content: center;
}

.icon img{
    width: 100%;
}

.formacao-description{
    height: 100%;
    padding-top: 4%;
    flex-grow: 4;
}

.formacao-description h3{
    font-size: 12px;
}

.formacao-description span{
    font-size: 10px;
}

