* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbit';
    color: #EEE;
}

:root {
    --col-dark: #111;
    --col-light: #eee;
}

/*                       */
/* CLASSES REUTILIZÁVEIS */
/*                       */

.framed {
    border-style: solid;
    border-width: 3px;
    border-color: var(--col-light);
}

.right-shadow {
    position: relative;
    /* TODO: Tirar o fill dessa sombra */
}

.right-shadow::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    border: 3px solid var(--col-light);
    z-index: -1;
}

.left-shadow {
    box-shadow: -8px 8px 0px var(--col-light);
    position: relative;
}

/* TODO: Ativar quando importar as imagens */
/* .left-shadow::before{
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    width: 100%;
    height: 100%;
    border: 3px solid var(--col-light);
    z-index: -1;
} */


.left-fill {
    box-shadow: -8px 8px 0px var(--col-light);
}

.left-cast {
    border: 3px solid var(--col-light);
    position: relative;
}

.left-cast::before {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 100%;
    height: 100%;
    border: 3px solid var(--col-light);
    z-index: -1;
}

.underlined {
    /* Placeholder */
    text-decoration: underline;
}

.clickable:hover {
    cursor: pointer;

}

.flex-col {
    display: flex;
    flex-direction: column;
}

/* Para imagens */
.contained {
    width: 100%;
    max-height: 100%;
    display: block;
    text-align: center;
}

.pixelated {
    image-rendering: pixelated;
}

/*                       */
/* FORMATAÇÃO EM NÍVEIS  */
/*                       */



body {
    background-color: var(--col-dark);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* HEADER */

header {
    padding: 32px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 25px;
}

h1 {
    grid-column: 1 / span 2;
    font-size: 24px;
    font-weight: bold;
}


.header-description {
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.profile-frame {
    width: 116px;
    max-height: fit-content;
    object-fit: cover;
}



/* MAIN */
main {
    display: flex;
    flex-direction: column;
    gap: 48px;

    padding: 32px;
}

section {
    gap: 32px;
}

/* TEXTOS DESCRITIVOS */

.welcome {
    gap: 26px;
    position: relative
}

.sprite-greeting {
    position: absolute;
    bottom: 100%;
    left: 10%;
    width: 50px;
}

.greeting {
    padding: 16px;
}

.sprite-about {
    display: none;
}

.about {
    padding: 16px;
}

/* HABILIDADES */

.habilidades {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skill-set {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.skill-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 8px;
}

.skill {
    background-color: var(--col-light);

    font-size: 16px;
    padding: 9px;
}


.skill span {
    font-weight: bold;
    color: var(--col-dark);
}

/* PROJETOS */

.project-frame {
    min-height: 210px;
    object-fit: cover;
}

.projeto {
    gap: 12px;
}

/* FORMAÇÃO ACADEMICA */

.formacao {
    display: flex;
    align-items: center;
    gap: 10px;
}

.formacao .icon {
    display: flex;
    align-items: center;
    place-content: center;
    height: 64px;
}

.formacao .icon img {
    height: 100%;
}

.formacao-description {
    height: 100%;
    flex-grow: 4;
}

.formacao-description h3 {
    font-size: 14px;
    font-weight: normal;
}

.formacao-description span {
    font-size: 12px;
}

/* CONTATO */

.contacts {
    gap: 14px;
}

.link-contato {
    display: flex;
    align-items: center;
    place-content: center;
    gap: 16px;
}

.link-contato .icon {
    display: flex;
    align-items: center;
    width: 40px;
}

.link-contato .icon img{
    width: 100%;
}

.link-contato h3 {
    font-size: 14px;
    flex-grow: 6;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    padding-block: 12px;
}

.footer-content {
    display: flex;
    align-items: center;
    place-content: center;
    gap: 16px;
}

.footer-content p {
    font-size: 14px;
}

.footer-content img {
    width: 30px;
}

.footer-bird {
    transform: scaleX(-1);
}


/* VERSÃO TABLET */
@media (min-width: 768px) {
    .framed {
        border-width: 5px;
    }

    .right-shadow::before {
        top: 14px;
        left: 14px;
        border-width: 5px;
    }

    /* TODO: Ativar quando importar as imagens */
    /* .left-shadow::before{
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 100%;
    height: 100%;
    border: 5px solid var(--col-light);
    z-index: -1;
    } */


    .left-fill {
        box-shadow: -10px 10px 0px var(--col-light);
    }

    .left-cast {
        border: 3px solid var(--col-light);
        position: relative;
    }

    .left-cast::before {
        bottom: 5px;
        right: 5px;
        border-width: 4px
    }

    h2 {
        font-size: 36px
    }

    h3 {
        font-size: 24px;
    }

    /*                       */
    /* FORMATAÇÃO EM NÍVEIS  */
    /*                       */

    body {
        gap: 20px;
    }


    /* HEADER */
    header {
        grid-template-columns: 3fr 1fr;
        gap: 16px;

        padding: 5%;
    }

    header h1 {
        grid-row: 1;
        grid-column: span 1;

        font-size: 40px;
    }

    header h2 {
        grid-row: 2;
        font-size: 36px;

    }

    .profile-frame {
        grid-row: 1 / span 2;
        justify-self: end;
        width: 100%;
        max-width: 200px;
        aspect-ratio: 1 /1;
    }

    /* MAIN */
    main {
        padding-top: 0;
        padding-left: 5%;
        gap: 86px;
    }

    /* WELCOME */
    .sprite-greeting {
        display: none;
    }

    .welcome {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
    }

    .sprite-about {
        display: block;
        position: absolute;
        margin-bottom: 4px;
        bottom: 100%;
        right: 10%;
        width: 50px;
    }

    .about {
        position: relative;
        grid-row: 2;
        grid-column: span 2
    }

    .dialog {
        font-size: 28px;
    }

    /* Habilidades */
    .skill-list {
        gap: 28px
    }

    .skill {
        font-size: 16px
    }

    /* Projetos */

    .projeto {
        flex-direction: row;
        gap: 80px;
    }

    .projeto a {
        width: 50%;

    }

    .project-description {
        width: 50%;
    }

    .project-description span {
        font-size: 20px;
    }

    /* Formação academica */
    .formacao {
        gap: 24px
    }

    .formacao-description h3 {
        font-size: 32px;
    }

    .formacao-description span {
        font-size: 24px;
    }

    .formacao .icon{
        height: 100%;
        width: auto;
    }

    /* Contato */
    .contacts {
        gap: 32px;
    }

    .link-contato {
        gap: 16px;
    }

    .link-contato .icon {
        height: 100%;
    }

    .link-contato h3 {
        font-size: 20px;
    }

    /* FOOTER */

    footer {
        padding-block: 8px;
    }

    .footer-content {
        gap: 24px;
    }

    .footer-content p {
        font-size: 16px;
    }

    .footer-content img {
        width: 24px;
    }
}

/* Versão Desktop */
/* 
    A versão Tablet era a versão desktop, mas pelo ponto cego das resoluções meio termo
    deixei ela como a versão de tablet com apenas algumas variações para as telas mais largas
*/
@media (min-width: 1000px) {
    header {
        grid-template-rows: auto auto;
    }

    .welcome {
        width: 78%;
    }
}