*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'orbit';
    color: #EEE;
}
:root{
}
/* Classes reutilizaveis */

.framed{
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

.right-shadow{
    box-shadow: 8px 8px 0px #fff;
    /* TODO: Tirar o fill dessa sombra */
}

.left-shadow{
    box-shadow: -8px 8px 0px #fff;
    /* TODO: Tirar o fill dessa sombra */
}

/* Formatação por níveis */

body{
    background-color: #111;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}


h1{ 
    font-size: 20px;
    font-weight: normal;
}

h2{
    font-size: 20px;
    font-weight: normal;
}

.header-description{
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
}

.profile-frame{
    width: 116px;
    object-fit: cover;
}

img{
    width: 100%;
}


.welcome{
    display: flex;
    flex-direction: column;
    gap:26px
}

.greeting{
    padding: 16px;
}